!
no service password-encryption
!
log file /var/log/zebos
!
!debug bgp
!debug bgp nsm
!debug bgp nht
!debug bgp events
!debug bgp keepalives
!debug bgp updates
!debug bgp fsm
!debug bgp filters
!debug bgp dampening
!debug bgp bfd
!
router bgp {{ customer_gateway_config.vpn_connection.ipsec_tunnel[0].customer_gateway.bgp.asn }}
 bgp router-id {{ customer_gateway_config.vpn_connection.ipsec_tunnel[0].customer_gateway.tunnel_inside_address.ip_address }} 
 max-paths ebgp 8
 bgp log-neighbor-changes
 bgp graceful-restart restart-time 120
 network {{ ExternalNetwork }}
 {% for address in customer_gateway_config.vpn_connection.ipsec_tunnel %}
 neighbor {{ address.vpn_gateway.tunnel_inside_address.ip_address }} remote-as {{ address.vpn_gateway.bgp.asn }}
 neighbor {{ address.vpn_gateway.tunnel_inside_address.ip_address }} default-originate
 neighbor {{ address.vpn_gateway.tunnel_inside_address.ip_address }} soft-reconfiguration inbound
 neighbor {{ address.vpn_gateway.tunnel_inside_address.ip_address }} capability graceful-restart
 ! neighbor {{ address.vpn_gateway.tunnel_inside_address.ip_address }} route-map prepend-tunnel-{{loop.index }} out
 {% endfor %}
!
{# might need to make this loop #}
route-map prepend-tunnel-1 permit 10
 set as-path prepend 65000
!
route-map prepend-tunnel-2 permit 10
 set as-path prepend 65000 65000
!
line con 0
 login
line vty 0 39
 login
!
end
