{
  "class": "AS3",
  "action": "deploy",
  "persist": true,
  "declaration": {
    "class": "ADC",
    "schemaVersion": "3.7.0",
    "id": "del",
    "label": "del",
    "remark": "Delete AS3 Tenant",
    "target": { "address": "10.1.1.7" },
    "{{ app_name }}": {
      "class": "Tenant"
    }
  }
}