{
  "class": "AS3",
  "action": "deploy",
  "persist": true,
  "declaration": {
    "class": "ADC",
    "schemaVersion": "3.7.0",
    "id": "example-declaration-01",
    "label": "Task1",
    "remark": "Task 1 - HTTP Application Service",
    "target": { "hostname": "BOS-vBIGIP01.termmarc.com" },
    "{{ app_name }}": {
      "class": "Tenant",
      "{{ app_name }}": {
        "class": "Application",
        "template": "http",
        "statsProfile": {
          "class": "Analytics_Profile",
          "collectClientSideStatistics": true,
          "collectOsAndBrowser": false,
          "collectMethod": false
        },
        "serviceMain": {
          "class": "Service_HTTP",
          "virtualAddresses": ["{{ vsip }}"],
          "pool": "web_pool",
          "profileAnalytics": {
            "use": "statsProfile"
          }
        },
        "web_pool": {
          "class": "Pool",
          "monitors": ["http"],
          "members": [
            {
              "servicePort": 80,
              "serverAddresses": ["{{ node1 }}", "{{ node2 }}"],
              "shareNodes": true
            }
          ]
        }
      }
    }
  }
}
