{
  "class": "AS3",
  "action": "deploy",
  "persist": true,
  "declaration": {
    "class": "ADC",
    "schemaVersion": "3.7.0",
    "id": "isc-lab",
    "label": "Task3a",
    "remark": "Task 3a - HTTPS Application with WAF",
    "target": { "hostname": "BOS-vBIGIP01.termmarc.com" },
    "{{ app_name }}": {
      "class": "Tenant",
      "{{ app_name }}": {
        "class": "Application",
        "template": "https",
        "statsProfile": {
          "class": "Analytics_Profile",
          "collectClientSideStatistics": true,
          "collectOsAndBrowser": false,
          "collectMethod": false
        },
        "serviceMain": {
          "class": "Service_HTTPS",
          "virtualAddresses": ["{{ vsip }}"],
          "pool": "web_pool",
          "profileAnalytics": {
            "use": "statsProfile"
          },
          "serverTLS": "webtls",
          "policyWAF": {
            "bigip": "/Common/templates-default"
          },
          "securityLogProfiles": [
            {
              "bigip": "/Common/templates-default"
            }
          ]
        },
        "web_pool": {
          "class": "Pool",
          "monitors": ["http"],
          "members": [
            {
              "servicePort": 80,
              "serverAddresses": ["{{ node1 }}", "{{ node2 }}"],
              "shareNodes": true
            }
          ]
        },
        "webtls": {
          "class": "TLS_Server",
          "certificates": [
            {
              "certificate": "webcert"
            }
          ]
        },
        "webcert": {
          "class": "Certificate",
          "certificate": {
            "bigip": "/Common/default.crt"
          },
          "privateKey": {
            "bigip": "/Common/default.key"
          }
        }
      }
    }
  }
}
